# Ignore artifacts:
build
coverage
artifacts
cache
typechain-types
node_modules

# Specific files
.solcover.js
coverage.json

# Ignore deployment files
deployments
deployment-info-files

# Ignore all HTML files:
*.html